#gameBoard{
  background-color: rgba(0,0,0,0.6);
  height: 300px;
  border: black solid;
  display: inline-block;
}



.players{
  display: block;
}

#player1{
margin-right: 0;
}

.track{
  height:100px;
  max-height: 100px;
  display: block;
}

#track2{
  margin-top:25px;
}
