
body{
  background-image: url("images/bodybackground.jpg");
  font-family: 'Rye', cursive;
}

#gameBoard{
  background-color: rgba(0,0,0,0.6);
  height: 300px;
  border: black solid;
  display: inline-block;
  background-image: url("images/background.jpg");
  background-attachment: fixed;
  background-size: 100% 500px;
}



.players{
  display: block;
}

#player1{
margin-right: 0;
}

.track{
  margin-top:1%;
  height:100px;
  max-height: 100px;
  display: block;);

}

#track2{
  margin-top: 0;
  margin-bottom: -1;
}

.selector{
  background-color: rgba(255,255,255,0.6);
  border-radius: 20px;
}

#selectorFrame {
  margin-top:10px;
}

#restart{
  margin-top: 5%;
}

.countDown{
  font-size: 36px
}

.title {
  font-family: 'Nosifer', cursive;
  color: rgba(255, 0, 0, 0.6);
  font-size: 70px
}

.description{
  background-color: rgba(255,255,255,0.6);
  border-radius: 20px;
  margin-top: 10px;
}

p{
  font-size: 14px
}

.countDown{
  font-family: 'Nosifer', cursive;
  color: rgba(255, 0, 0, 0.6);
  font-size: 72px;
}
