
body{
  background-image: url("images/bodybackground.jpg");
}

#gameBoard{
  background-color: rgba(0,0,0,0.6);
  height: 300px;
  border: black solid;
  display: inline-block;
  background-image: url("images/background.jpg");
  background-attachment: fixed;
  background-size: 100% 500px;
}



.players{
  display: block;
}

#player1{
margin-right: 0;
}

.track{
  margin-top:1%;
  height:100px;
  max-height: 100px;
  display: block;);

}

#track2{
  margin-top: 0;
}

.selector{
  background-color: rgba(255,255,255,0.5);
  border-radius: 20px;
}

#selectorFrame {
  margin-top:10px;
}
